<p id="notice"><%= notice %></p>

<p>
	<strong>Name:</strong>
	<%= @user.name %>
</p>

<p>
	<strong>Email:</strong>
	<%= @user.email %>
</p>

<p>picture</p>

<%= link_to 'View Postings', user_postings_path(@user), class: 'btn btn-info' %>
<%= link_to 'View Comments', user_comments_path(@user), class: 'btn btn-info' %>
<% if current_user.admin || current_user.id == @user.id %>
	<%= link_to 'Edit Account', edit_user_path(@user), class: 'btn btn-warning' %>
	<%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>
