<%= form_for(@user, url: login_path, method: :post) do |f| %>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password_digest %><br>
    <%= f.password_field :password_digest %>
  </div>
  <div class="actions">
    <%= f.submit 'Login' %>
  </div>
<% end %>