<h1>Listing dancers</h1>
<h2>using ransack searching</h2>

<!-- NOTE: make url more flexible -->
<%= search_form_for @q, url: "/dancers" do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont %>
  </div>
  <div class="field">
    <%= f.label :teams_given_number_eq, "Team number is" %>
    <%= f.text_field :teams_given_number_eq %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :name, "Name") %></th>
      <th><%= sort_link(@q, :email, "Email") %></th>
    </tr>
  </thead>

  <tbody>
    <% @dancers.each do |dancer| %>
      <tr>
        <td><%= dancer.name %></td>
        <td><%= dancer.email %></td>
        <td><%= link_to 'Show', dancer %></td>
        <td><%= link_to 'Edit', edit_dancer_path(dancer) %></td>
        <td><%= link_to 'Destroy', dancer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dancer', new_dancer_path %>
