<!DOCTYPE html>
<html>
<head>
  <title>SimpleRouting</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>ADMIN PANEL</p>

<% flash.each do |name, msg| -%>
	<%= content_tag :div, msg, class: name %>
<% end -%>

<%= yield %>

</body>
</html>
