<!DOCTYPE html>
<html>
<head>
  <title>SimpleRouting</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-<%= current_user && current_user.admin ? 'inverse' : 'default' %>" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if current_user %>
        <a class="navbar-brand" href="">Welcome <%= current_user.name %></a>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <% if current_user %>
          <!-- administrator options -->
          <% if current_user.admin %>
            <li><%= link_to "Users", users_path %></li>
          <% end %>
          <li><%= link_to "Account", user_path(current_user) %></li>
          <li><%= link_to "Front Page", front_page_path %></li>
          <li><%= link_to 'New Posting', new_user_posting_path(current_user) %></li>
          <li><%= link_to "Log out", log_out_path %></li>
        <% else %>
          <li><%= link_to "Sign up", sign_up_path %></li>
          <li><%= link_to "Log in", log_in_path %></li>
        <% end %>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <!-- flashes -->
  <% flash.each do |name, msg| %>
    <div class="container">

      <% if name.to_s == 'error' %>
        <div class="alert alert-danger alert-dismissable pull-left" role="alert">
      <% elsif name.to_s == 'notice' %>
        <div class="container"><div class="alert alert-success pull-left">
      <% else %>
        <div class="container"><div class="alert alert-info pull-left">
      <% end %>

      <%= msg %>
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="container"><%= yield %></div>

</body>
</html>
