<h1>Listing judges</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @judges.each do |judge| %>
      <tr id="judge-rows">
        <td data-id=<%= judge.id %>><%= judge.name %></td>
        <td><%= link_to 'Show', judge %></td>
        <td><%= link_to 'Edit', edit_judge_path(judge) %></td>
        <td><%= link_to 'Destroy', judge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button id="test1"> tester </button>

<%= link_to 'New Judge', new_judge_path %>

<script>

//using .erb to specify the urls to go through to change with .post
<% @dancers.each do |dancer| %>
//puts the new values to the urls
$('#test1').click(function() {
  $.ajax( {
    type: "PUT",
    url: "dancers/" + <%= dancer.id %> + ".json",
    data: {dancer: { name: "sugar daddy II" }},
    success: showThis("after ajax dancer change"),
    dataType: "json"
  });  
})
<% end %>

// get a judge and put the info into a ul
// shortcut .ajax() function
$.getJSON( "judges/1.json", function( data ) {
  var items = [];
  $.each( data, function( key, val ) {
    items.push( "<li id='" + key + "'>" + val + "</li>" );
  }); 
 
  $( "<ul/>", {
    "class": "my-new-list",
    html: items.join( "" )
  }).appendTo( "body" );
  showThis("posted JSON");
});

//debugging display
function showThis(showMe) {
  console.log("got to: " + showMe);
}
    
</script>