<h1>Listing teams</h1>
<h2>and other info using .map(&:column)</h2>

<table>
  <thead>
    <tr>
      <th>Given number</th>
      <th>Team members' names</th>
      <th>Judges' names</th>
      <th>Heats team is in</th>            
      <th>Team's scores</th>
      <th></th>
      <th></th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.given_number %></td>
        <td><%= team.dancers.map(&:name) %></td> 
        <td><%= team.judges.map(&:name) %></td>
        <td><%= team.heats.map(&:id) %></td>         
        <td><%= team.team_heats.map(&:score) %></td>         
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
