<h1>Your Comments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user.comments.each do |comment| %>
      <tr>
        <td><%= comment.user_id %></td>
        <td><%= comment.content %></td>
        <td><%= link_to 'Show', user_posting_comment_path(@user, comment.posting, comment) %></td>
        <td><%= link_to 'Edit', edit_user_posting_comment_path(@user, comment.posting, comment) %></td>
        <td><%= link_to 'Destroy', [@user, comment.posting, comment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
