.panel.panel-default
  .panel-body
    = comment_hash[:comment].content
    %p
    - if children = comment_hash[:children]
      - children.each do |child_hash|
        = render 'comment_tree', comment_hash: child_hash

  / item-info holds .data() about votes and items
  - item_data = { "data-item-id" => comment_hash[:comment].id }
  - item_data["data-name"] = "comment"
  - if current_user && comment_hash[:comment].votes.map(&:user_id).include?(current_user.id)
    - item_data["data-vote-id"] = comment_hash[:comment].votes.where(user_id: current_user.id).first.id
    - item_data["data-vote-val"] = comment_hash[:comment].votes.where(user_id: current_user.id).first.value

  .panel-footer.item-info{ item_data }
    by #{comment_hash[:comment].user.name}
    |
    = comment_hash[:comment].created_at.strftime("%d %b. %Y")
    |
    %span.score
      = comment_hash[:comment].vote_score
    %span.pull-right.voting
    %div.pull-right
      = link_to 'reply', new_user_posting_comment_path(@user, @posting, parent_id: comment_hash[:comment].id)
      / you can edit and delete comment if it's yours or admin
      - if current_user.comments.include?(comment_hash[:comment]) || current_user.admin
        |
        = link_to 'edit', edit_user_posting_comment_path(@user, @posting, comment_hash[:comment])
        |
        = link_to 'delete', [@user, @posting, comment_hash[:comment]], method: :delete, data: { confirm: 'Are you sure?' } 
