<div class="panel panel-default">
	<div class="panel-body">
		<%= comment_hash[:comment].content %>
		<br></br>

		<% if children = comment_hash[:children] %>
			<% children.each do |child_hash| %>
				<%= render 'comment_tree', comment_hash: child_hash %>
			<% end %>
		<% end %>
	</div>
	<div class="panel-footer">
		by <%= comment_hash[:comment].user.name %> | 
		<%= comment_hash[:comment].created_at.strftime("%d %b. %Y") %> |
		<!-- color-code score -->
    <span class="label label-<%= (comment_hash[:comment].vote_score || 0) >= 0 ? 'success' : 'danger' %>">
      <%= comment_hash[:comment].vote_score || 0 %>
    </span>
		<span class="pull-right">
	    <%= link_to 'reply', new_user_posting_comment_path(@user, @posting, parent_id: comment_hash[:comment].id) %> |

	    <!-- you can edit and delete comment if it's yours || TODO: admin -->
        <% if current_user.comments.include? comment_hash[:comment] %>
        <%= link_to 'edit', edit_user_posting_comment_path(@user, @posting, comment_hash[:comment]) %> | 
        <%= link_to 'delete', [@user, @posting, comment_hash[:comment]], method: :delete, data: { confirm: 'Are you sure?' } %> | 
        <% end %> 

      <!-- votable functions -->
	    <% if !comment_hash[:comment].votes.map(&:user_id).include? current_user.id %>
			  <%= link_to 'up', up_vote_path(name: 'comment', item_id: comment_hash[:comment].id), method: :post %> | 
			  <%= link_to 'down', down_vote_path(name: 'comment', item_id: comment_hash[:comment].id), method: :post %>
			<% else %>
			  <% if comment_hash[:comment].votes(current_user).first.value > 0 %>
			    <span class="glyphicon glyphicon-thumbs-up"></span>
			  <% else %>
			    <span class="glyphicon glyphicon-thumbs-down"></span>
			  <% end %>
			  <%= link_to 'x', vote_path(comment_hash[:comment].votes(current_user).first.id), method: :delete %>
			<% end %>
		</span>
	</div>
</div>