<div class="panel panel-warning">
  <div class="panel-heading">
    <h3>Latest Postings</h3>
  </div>
    <div class="panel-body">

    <% @postings.each do |posting| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= posting.title %>

          <% if current_user %>
            <span class="pull-right">
              <%= link_to 'read', user_posting_path(@user, posting) %>
            </span>
          <% end %>
        </div>
        <div class="panel-body"><%= posting.content %></div>
        <div class="panel-footer">
          by <%= posting.user.name %> | <%= posting.created_at.strftime("%d %b. %Y") %>
          <span class="pull-right">
            <% if !posting.votes.map(&:user_id).include? current_user.id %>
              <%= link_to 'upvote', votes_path(name: 'posting', item_id: posting.id), method: :post %>
            <% else %>
              <%= link_to 'cancel vote', vote_path(posting.votes.keep_if { |v| v.user_id == current_user.id }.first), method: :delete %>
            <% end %>
          </span>
        </div>
      </div>

    <% end %>
  </div>
  <div class="panel-footer"></div>
</div> <!-- Latest Postings body -->