<div class="panel panel-warning">
  <div class="panel-heading">
    <h3>Latest Postings</h3>
  </div>
    <div class="panel-body">

    <% @postings.each do |posting| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= truncate(posting.title, length: 50) %>
          
          <% if current_user %>
            <span class="pull-right">
              <%= link_to_if current_user, 'read', user_posting_path(@user, posting) %>

              <!-- you can edit and delete posting if it's yours || TODO: admin -->
              <% if current_user.postings.include? posting %>
               | <%= link_to 'edit', edit_user_posting_path(@user, posting) %> | 
              <%= link_to 'delete', [@user, posting], method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </span>
          <% end %>
        </div>
        <div class="panel-body"><%= truncate(posting.content, length: 90) %></div>
        <div class="panel-footer">
          by <%= posting.user.name %> | 
          <%= posting.created_at.strftime("%d %b. %Y") %> | 
          <!-- color-code score -->
          <span class="label label-<%= (posting.vote_score) >= 0 ? 'success' : 'danger' %>">
            <%= posting.vote_score %>
          </span>

          <!-- voting displays -->
          <span class="pull-right">
            <% if current_user %>
              <% if !posting.votes.map(&:user_id).include? current_user.id %>
                <%= link_to 'up', up_vote_path(name: 'posting', item_id: posting.id), method: :post %> | 
                <%= link_to 'down', down_vote_path(name: 'posting', item_id: posting.id), method: :post %>
              <% else %>
                <% if posting.votes(current_user).first.value > 0 %>
                  <span class="glyphicon glyphicon-thumbs-up"></span>
                <% else %>
                  <span class="glyphicon glyphicon-thumbs-down"></span>
                <% end %>
                <%= link_to 'x', vote_path(posting.votes(current_user).first.id), method: :delete %>
              <% end %>
            <% end %>
          </span>
        </div>
      </div>

    <% end %>
  </div>
  <div class="panel-footer"></div>
</div> <!-- Latest Postings body -->