<div class="panel panel-warning">
	<div class="panel-heading">
		<%= @posting.title %>
    <span class="pull-right">
      <%= link_to 'reply', new_user_posting_comment_path(@user, @posting, parent_id: nil) %>

      <!-- you can edit and delete posting if it's yours or admin -->
      <% if current_user.postings.include?(@posting) || current_user.admin %>
       | <%= link_to 'edit', edit_user_posting_path(@user, @posting) %> | 
      <%= link_to 'delete', [@user, @posting], method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </span>
	</div>
	<div class="panel-body">
  		<%= @posting.content %>
  	<br></br>
  	<!-- recursive forest of postings and comments -->
		<%= render 'comment_forest' %>
	</div>
	<div class="panel-footer">
		by <%= @posting.user.name %> |
    <%= @posting.created_at.strftime("%d %b. %Y") %> | 
  	<!-- color-code score -->
	  <span class="label label-<%= (@posting.vote_score) >= 0 ? 'success' : 'danger' %>">
	    <%= @posting.vote_score %>
	  </span>
		<span class="pull-right">
			<!-- display buttons for voting -->
      <% if current_user %>
        <% if !@posting.votes.map(&:user_id).include? current_user.id %>
          <%= link_to 'up', up_vote_path(name: 'posting', item_id: @posting.id), method: :post %> | 
          <%= link_to 'down', down_vote_path(name: 'posting', item_id: @posting.id), method: :post %>
        <% else %>
          <% if @posting.votes(current_user).first.value > 0 %>
            <span class="glyphicon glyphicon-thumbs-up"></span>
          <% else %>
            <span class="glyphicon glyphicon-thumbs-down"></span>
          <% end %>
          <%= link_to 'x', vote_path(@posting.votes(current_user).first.id), method: :delete %>
        <% end %>
      <% end %>
    </span>
	</div>
</div>