.panel.panel-warning
  .panel-heading
    = @posting.title
    %span.pull-right
      = link_to 'reply', new_user_posting_comment_path(@user, @posting, parent_id: nil)
      / you can edit and delete posting if it's yours or admin
      - if current_user.postings.include?(@posting) || current_user.admin
        |
        = link_to 'edit', edit_user_posting_path(@user, @posting)
        |
        = link_to 'delete', [@user, @posting], method: :delete, data: { confirm: 'Are you sure?' }
  .panel-body
    = @posting.content
    %br/
    / recursive forest of postings and comments
    = render 'comment_forest'
    / posting-footer holds .data() about votes and postings' IDs
    - post_data = { "data-posting-id" => @posting.id }
    - if current_user && @posting.votes.map(&:user_id).include?(current_user.id)
      - post_data["data-vote-id"] = @posting.votes.where(user_id: current_user.id).first.id
  .panel-footer.posting-info{post_data}
    by #{@posting.user.name}
    |
    = @posting.created_at.strftime("%d %b. %Y")
    |
    %span.label.label-primary
      = @posting.vote_score
    %span.pull-right