<h1>Listing dancers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dancers.each do |dancer| %>
      <tr>
        <td><%= dancer.name %></td>
        <td><%= link_to 'Show', dancer %></td>
        <td><%= link_to 'Edit', edit_dancer_path(dancer) %></td>
        <td><%= link_to 'Destroy', dancer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dancer', new_dancer_path %>
