<div class="col-md-6 pull-left">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Log in</h3>
		</div>	
		<div class="panel-body">
			<%= form_tag sessions_path do %>
			  <p>
			    <%= label_tag :email %><br />
			    <%= text_field_tag :email, params[:email] %>
			  </p>
			  <p>
			    <%= label_tag :password %><br />
			    <%= password_field_tag :password %>
			  </p>
			  <p class="button"><%= submit_tag "Log in" %></p>
			<% end %>
		</div>
		<div class="panel-footer"></div>
	</div>
</div>